* {
  color: #373837;
}

body {
  font-family:Arial, Helvetica, sans-serif;
  background-color: #D8DCE0;
  color: #373837;
}

.active {
  text-decoration: none;
  padding-right: 10px;
  padding: 10px;
}
.inactive {
  text-decoration: none;
  padding: 10px;
}

.active:hover {
  background-color: #F3F6F9;
  width: 200px;
  height: 200px;
}

.inactive:hover {
  background-color: #F3F6F9;
  width: 200px;
  height: 200px;
}