.main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

body {
  font-family:Arial, Helvetica, sans-serif;
  background-color: #C5D6D8;
  color: black;
}

.active {
  text-decoration: none;
  padding-right: 10px;
  padding: 10px;
  background-color: #99F7AB;
}
.inactive {
  text-decoration: none;
  padding: 10px;
}

.active:hover {
  background-color: whitesmoke;
  width: 200px;
  height: 200px;
}

.inactive:hover {
  background-color: whitesmoke;
  width: 200px;
  height: 200px;
}