table {
  min-width: 80vw;
  overflow: hidden;
  table-layout: fixed;
  width: 80vw;
  border-radius: 5px;
  margin: 10px;
  border-collapse: collapse;
}

th {
  text-align: left;
  font-size: 1.2rem;
  padding-bottom: 6px;
  background-color: #254673;
  color: white;
}

td {
  padding-bottom: 8px;
  font-size: 0.9rem;
}

tr {
  border-spacing: 0;
}

tr:nth-of-type(even) {
  background-color: whitesmoke;
}

td:last-of-type {
  text-align: right;
}

td:nth-of-type(3) {
  text-align: center;
}

th:nth-of-type(3) {
  text-align: center;
}

th:nth-of-type(4) {
  text-align: right;
}

th:nth-of-type(2) {
  text-align: center;
}

td:nth-of-type(2) {
  text-align: center;
}

tr:hover {
  background-color: lightblue;
}

.pagination {
  display: flex;
  justify-content: center;
  min-width: 80vw;
  margin: 10px auto;
}

.pagination button{
  text-decoration: none;
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  background-color: #D8DCE0;
  font-size: 1.5rem;
  border: 1px solid #254673;
}

.pagination button:hover {
  background-color: lightgrey;
}

.listComponent {
  width: 80vw;
}

.clickableHeader {
  text-decoration: underline;
}

.clickableHeader:hover {
  cursor: pointer;
}