table {
  min-width: 80vw;
  overflow: hidden;
  table-layout: fixed;
  width: 80vw;
  border-radius: 5px;
  margin: 10px;
  border-collapse: collapse;
}

th {
  text-align: left;
  font-size: 1.2rem;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #254673;
  color: white;
}

td {
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 0.9rem;
}

tr {
  border-spacing: 0;
}

tr:nth-of-type(even) {
  background-color: whitesmoke;
}

td:last-of-type {
  text-align: right;
}

td:nth-of-type(3) {
  text-align: center;
}

th:nth-of-type(3) {
  text-align: center;
}

th:nth-of-type(4) {
  text-align: right;
}

th:nth-of-type(2) {
  text-align: center;
}

td:nth-of-type(2) {
  text-align: center;
}

tr:hover {
  cursor: pointer;
  background-color: lightcyan;
}

.pagination {
  display: flex;
  justify-content: center;
  min-width: 80vw;
  margin: 10px auto;
}

.pagination button{
  text-decoration: none;
  padding: 8px 16px;
  border: none;
  border-radius: 15px;
}

.pagination button:hover {
  background-color: lightgrey;
}

.listComponent {
  width: 80vw;
}

.clickableHeader {
  text-decoration: underline;
}

.down {
  margin-left: 5px;
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.up {
  margin-left: 5px;
  border: solid white;
  display: inline-block;
  border-width: 0 3px 3px 0;
  padding: 3px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.clickableHeader::after {
  
}

.clickableHeader:hover {
  cursor: pointer;
}
